.main-header {
    display: flex;
    background: #464547;
    height: 70px;
    text-align: center;
    justify-content: end;
    align-items: center;
}

.header-navigation-refers {
    height: 40px;
    color: #FFFDFD;
    line-height: 3;
    margin-right: 20px;
}

.header-call-button {
    margin:  0 100px 0 20px;
    height: 40px;
    width: 200px;
    background: #2A1D17;
    color: #FFFDFD;
    border: 0;
    border-radius: 2px;
}